.portfolio-manager-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    
  
    .left-column {
      background-color: $offwhite;
    }
  
    .right-column {
      background-color: $charcoal;
      // overflow-y: scroll;
      // I really want to make this column have a seperate scroll wheel
      color: $offwhite;

      .portfolio-items-wrapper {
        display: grid;
        grid-template-columns: 1fr;

        .portfolio-item {
          display: flex;
          justify-content: center;
          flex-direction: column;

          img {
            width: 100%;
          }

          h1, h2 {
            padding-left: 20px;
          }
        }
      }
    }
  }