.portfolio-manager-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    
  
    .left-column {
      background-color: $offwhite;
    }
  
    .right-column {
      background-color: $charcoal;
      // overflow-y: scroll;
      // I really want to make this column have a seperate scroll wheel
      color: $offwhite;

      .portfolio-items-wrapper {
        display: grid;
        grid-template-columns: 1fr;

        .portfolio-item {
          display: flex;
          justify-content: center;
          flex-direction: column;

          img {
            width: 100%;
          }

          .title-card {
            display: flex;
            justify-content: space-between;
            padding-left: 30px;
            padding-right: 30px;
          }

          .delete-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: 1.5em;
            transition: 0.2s ease-in-out;

            &:hover {
              color: $warning;
            }
          }
        }
      }
    }
  }

  .dropper-wrapper {
    display: flex;
    justify-content: space-around;
  }

  .drop-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    color: #ccc;

    .dropzone {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 200px;
    }
  }